<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <div class="image-card">
            <img class="form-image" src="sunrise.png">
        </div>
    <div class="form-container">
            <form action="/weather" method="POST">
                <label for="country" class="nunito">Country:</label><br>
                <input class="input" type="text" id="country" name="country" required><br>
                <label for="city" class="nunito">City:</label><br>
                <input class="input" type="text" id="city" name="city" required><br><br>
                <input class="button" type="submit" value="submit">
              </form>

    </div>
    
    <script src="./app.js"></script>
</body>
</html>